.topbar {
    position: sticky;
    top: 0;
    width: 100%;
    /*background: #fff;*/
    background: var(--sidebar-color);
    box-shadow: 0 5px 10px #9da7ff33;
    z-index: 5;
    /* border: 5px solid green;  */
}